<!doctype html>
<html>
  <%- include('_head') %>

  <body>
    <%- include('_berkut_header') %>

    <div class="whole">
      <div class="berkut-pane left">
        <%- include('partial/_layers') %>
        <%- include('partial/_crossfader') %>
      </div>
      <div class="berkut-pane right">
        <%- include('partial/_finder') %>
      </div>
    </div>

    <%- include('partial/_modals') %>
  </body>
</html>
