<!doctype html>
<html>
  <head>
    <meta charset="UTF-8"/>

    <link href="css/style.css" rel="stylesheet"/>
    <script>
     window.jQuery = window.$ = require('jQuery')
     window.Vue = require('vue')
    </script>
    <script src="js/index.js"></script>
    <script>
     window.berkut = new BERKUT()
    </script>

    <title>BERKUT</title>

    <% if(isLive) { %>
      <script src="http://localhost:35729/livereload.js"></script>
    <% } %>
  </head>
  <body>
    <%- include('partial/_header') %>
    <div class="whole">
      <div class="berkut-pane left">
        <%- include('partial/_layers') %>
        <%- include('partial/_crossfader') %>
      </div>
      <div class="berkut-pane right">
        <%- include('partial/_finder') %>
      </div>
    </div>

    <%- include('partial/_modals') %>
  </body>
</html>
