<section class="controllers">
  <%- include('controllers/_stack') %>
  <%- include('controllers/_cross_fader') %>
  <%- include('controllers/_deck') %>
  <%- include('controllers/_output_preview') %>
  <%- include('controllers/_media_status') %>
  <%- include('controllers/_bpm_selector') %>
  <%- include('controllers/_search_bar') %>
</section>
